<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
    <!--<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text-center">
				微目标，从这一刻开始
			</h3>
			<div class="row-fluid">

				<div class="span">
					<form class="form-horizontal" action="/signup" method="post">
						<div class="control-group">
							<label class="control-label" for="account">账户</label>
							<div class="controls">
								<input id="account" type="text" name="account"/>
							</div>
						</div>
                        <div class="control-group">
							<label class="control-label" for="username">昵称</label>
							<div class="controls">
								<input id="username" type="text" name="username" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="passwd">密码</label>
							<div class="controls">
								<input id="passwd" type="password" name="passwd" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
                                <button class="btn" type="submit">注册</button>
                                <button type="button" onclick="window.location.href='/index'" class="btn">返回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>-->
</body>
</html>